* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: url("https://picsum.photos/id/10/1920/1080");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    margin: 30px 0px;
    display: flex;
    gap: 40px;
}


button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover{
    opacity: .7;

}

#rock {
    background-color: blue;
}

#paper {
    background-color: violet;

}
#scissors {
    background-color: red;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.text1 span {
    color: brown;

}

.Alexa span {
    color: aqua;
}